body
        {
            margin-top: 0px;
        }

#container
        {
            height: 640px;
            width: 1024px;
            margin-left: auto;
            margin-right: auto;
        	background-image: url("pics/Black-Background.jpeg");
        }
        
#desk
        {
            height: 600px;
        }
        
#bar
        {
            position: relative;
            height: 34px;
            border-top-color: black;
            border-top-style: solid;
            border-top-width: 6px;
        }
        
#bar img
        {
            position: absolute;
            bottom: 2px;
            height: 28px;
            padding-top: 2px;
            padding-left:2px;
            transition: height 0.5s ease-in-out;
        }
        
#bar img:hover
        {
            height: 40px;
            
        }
        
body
        {

            background-color: gray;
        }

/* Window */

.window
        {
            height: 400px;
            width: 280px;
            position: relative;
            top: 50px;
            left: 50px;


        }
        
.window header
        {
            background-color: SteelBlue;
            height: 30px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            border-top: 5px solid;
            border-color: SteelBlue;
        }
.window header img
        {
            
            height: 15px;
            padding-left: 4px;
            padding-right: 4px;
        }
.icon
        {
            float: left;
        }

.close
        {
            float: right;
        }
/* Window header */        
.window header p
        {
            margin: 0;
            font-size: 12px;
        }
/* Window content*/        
.content
        {
            background-color: gray;
            height:83.3333333333%;
            overflow: auto;

        }
.content .imgContainer
        {
            position: relative;
            background-color: #bab393;
            display: block;
            float: left;
            margin: 10px;
            border-style: solid;
            border-width: 4px;
            border-radius: 5px;
            border-color: #bab393;
        }
.imgContainer img
        {
            position: absolute;
            display: block;
            margin: 0;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%)

        }
        
        
/* Window footer*/        
.window footer
        {
            background-color: SteelBlue;
            height: 20px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            border-bottom: 5px solid;
            border-color: SteelBlue;
        }
        
.window footer img
        {
            height: 15px;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 5px;
        }
        
.hide
        {
            display: none;
        }